<html lang="fr">

<head>
    <%- include("partial_header.ejs"); %>

        <title>Ordo130</title>

</head>

<body class="">
    <!-- HEADER -->
    <%- include("header.ejs"); %>



        <!-- FOOTER -->
        <%- include("footer.ejs"); %>

</body>