<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partial_header') %>
        <title>Inscription</title>
        <link rel="stylesheet" href="../static/css/inscription.css">
</head>

<body>
    <%- include('header') %>
        <main class="text-center CaviarDreams">
            <article>
                <div class="m-4">
                    <h1 class="m-3 pb-4 CaviarDreamsBold border-bottom">Créer votre compte</h1>
                    <h2>Vous en avez marre des tonnes de papiers <br> qui s'entassent et qui
                        s'égarent ?</h2>
                    <h2 class="c_blue">Simplifiez vous la vie</h2>
                </div>
            </article>
            <article class="d-flex justify-content-around mt-5 text-white">
                <div class="border rounded-pill w-25 p-4 bg_blue2 box_sha">
                    <img src="/static/img/387628.png" alt="logo" class="wb40">
                    <h3>Professionel de santé</h3>
                    <p>Médecins, chirurgiens-dentistes, sages-femmes, masseurs-kinésithérapeutes,
                        pédicures-podologues...</p>
                    <!-- <button class="button_insc">
                        <a href="" class="text-decoration-none">Inscription</a>
                    </button> -->
                </div>
                <div class="border rounded-pill w-25 p-4 bg_blue2 box_sha">
                    <img src="/static/img/387553.png" alt="logo" class="wb40">
                    <h3>Patient</h3>
                    <p>Toutes personnes qui possède une ordonnance</p>
                    <!-- <button class="button_insc">
                        <a href="" class="text-decoration-none">Inscription</a>
                    </button> -->
                </div>
                <div class="border rounded-pill w-25 p-4 bg_blue2 box_sha">
                    <img src="/static/img/387558.png" alt="logo" class="wb40">
                    <h3>Organisme médical</h3>
                    <p>Pharmaciens </p>
                    <!-- <button class="button_insc">
                        <a href="" class="text-decoration-none">Inscription</a>
                    </button> -->
                </div>

            </article>
        </main>
</body>

</html>