<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partial_header') %>
        <title>Inscription</title>
</head>

<body>
    <%- include('header') %>
        <main class="text-center CaviarDreams">
            <article>
                <div class="m-4">
                    <h1 class="m-3 CaviarDreamsBold">Créer votre compte</h1>
                    <h2>Vous en avez marre des tonnes de papiers <br> qui s'entassent et qui
                        s'égarent ? <br> Simplifiez vous la vie</h2>
                </div>
            </article>
            <article class="d-flex justify-content-around">
                <div class="border rounded-5">
                    <h3>Professionel de santé</h3>
                    <button><a href="">Inscription</a></button>
                </div>
                <div class="border rounded-5">
                    <h3>Patient</h3>
                    <button><a href="">Inscription</a></button>

                </div>
                <div class="border rounded-5">
                    <h3>Organise médical </h3>
                    <button><a href="">Inscription</a></button>

                </div>

            </article>
        </main>
</body>

</html>