<html lang="fr">

<head>
    <%- include("partial_header.ejs"); %>
        <title>Patient</title>
        <link rel="stylesheet" href="/static/css/inscription.css">
</head>

<body class="">
    <%- include("orgasante_header.ejs"); %>
    Ceci est la page d'accueil d'un organisme de santé (ce nom c'est de la merde)
    <%- include("footer.ejs"); %>
</body>