<html lang="fr">

<head>
    <%- include("partial_header.ejs"); %>
        <title>Patient</title>
        <link rel="stylesheet" href="../static/css/inscription.css">
</head>

<body class="">
    <%- include("header.ejs"); %>
        <main>

        </main>

</body>

</html>