#loginFormClient {
    width: 50%;
}

/* #signupFormClient {
    width: 60%;
} */

#logo_insc_form {
    width: 250px;
}

main {}

.bg_blue {
    background-color: #0E9BA1;
}

@media (max-width: 1000px) {
    #container_medecins {
        display: none;
    }
}

@media (min-width: 1000px) {
    #container_medecins {
        display: flex;
    }
}

.wb65 {
    width: 65%;
}

.wb40 {
    width: 40%;

}

.col-bc1 {
    color: #008E73;
}

#insc:hover {
    color: #0E9BA1;
}